@{
    ViewBag.Title = "ThankYou";
}

<h1>Thanks!</h1>
<h2>ASP.NET MVC is awesome :)</h2>
<p>Visit <a href="http://www.techiesweb.net">TechiesWeb.NET</a> for more interesting tips and tricks</p>
<p>Twitter : <a href="http://www.twitter.com/kshyju">@@kshyju</a></p>